<!DOCTYPE html>

<head>
<meta charset="UTF-8">
    <style>
        .button-group {
            width: 100%;
        }

        .button-container {
            display: flex;
            justify-content: flex-end;
            margin-top: 0px;
        }
        .table-container {
            border: 1px solid #ccc;
            padding: 20px;
        }
        p-table {
            cdk-virtual-scroll-viewport {
                overflow-y: scroll !important;
            }
        }
    </style>    
</head>
    <div class="table-container">
        <div class="button-group">
            <form>
                <div style="display: flex; align-items: center; justify-content: center;">
                    <input type="text" id="search" name="vanban" style="flex: 1; margin-right: 20px; height: 43px; width: 955px; border-radius: 5px; border: 1px solid #ccc;" placeholder="Tìm kiếm...">
                    <button type="submit" style="padding: 10px; background-color: #0099FF; color: white; font-size: 14px; border: none; cursor: pointer; transition: background-color 0.3s; border-radius: 5px;" onmouseover="this.style.backgroundColor='#3498db'" onmouseout="this.style.backgroundColor= '#0099FF'">
                        Tìm kiếm
                    </button>
                </div>

                <div style="display: flex; align-items: center;">
                    <div style="margin-right: auto;">&#x25BE;<button type="submit" style=" background-color: transparent; border: none; cursor: pointer;color: #999;">Tìm kiếm nâng cao</button></div>
                    <div class="button-container" style="margin-top: 20px;">
                        <button type="submit" style="padding: 10px 30px; margin-right: 20px; background-color: #f70c47; color: white; font-size: 14px; border: none; cursor: pointer; transition: background-color 0.3s; border-radius: 5px;" onmouseover="this.style.backgroundColor='#ba0633'" onmouseout="this.style.backgroundColor='#f70c47'">
                            Xóa
                        </button>
                        <button type="submit" style="padding: 10px 20px; background-color: #07c938; color: white; font-size: 14px; border: none; cursor: pointer; transition: background-color 0.3s; border-radius: 5px;" onmouseover="this.style.backgroundColor='#06b131'" onmouseout="this.style.backgroundColor='#07c938'">
                            Tải xuống
                        </button>
                    </div>
                </div>

            </form>
      </div>

<div [@routerTransition]>
    <div class="content d-flex flex-column flex-column-fluid">
        <sub-header [title]="'Documents' | localize">
            <div role="actions">
                <button
                    *ngIf="'Pages.Administration.Users.Create' | permission"
                    class="btn btn-primary"
                >
                    <i class="fa fa-plus"></i>
                    Thêm văn bản pháp lý
                </button>
            </div>
        </sub-header>

        <div [class]="containerClass">
            <div class="card card-custom gutter-b">
                <div class="card-body">
                    <h3>Danh sách văn bản pháp lý</h3>
                    <div class="row align-items-center">
                        <!--<Primeng-TurboTable-Start>-->
                        <div class="primeng-datatable-container" [busyIf]="primengTableHelper.isLoading">
                            <p-table
                                [value]="documents"
                                selectionMode="multiple"
                                [paginator]="true"
                                [rows]="20"
                                [rowsPerPageOptions]="[10, 20, 50]"
                                [showCurrentPageReport]="true"
                                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                                [selectionPageOnly]="true"
                                [scrollable] = "true"
                                ScrollWidth="100%"
                                scrollDirection="horizontal"
                                [responsive]="primengTableHelper.isResponsive"
                                [resizableColumns]="primengTableHelper.resizableColumns"
                            >
                                <ng-template pTemplate="header">
                                    <tr>
                                        <th style="width: 3rem">
                                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                        </th>
                                        <th style="width:100px">Hành động</th>
                                        <th style="width:100px">Số hiệu</th>
                                        <button type="button" class="btn" (click)="sortwithKey('code', 0)">
                                            <i class="fas" [ngClass]="icons[counter[0]]"></i>
                                         </button>
                                      
                                        <th style="width:100px">Tiêu đề</th>
                                        <button type="button" class="btn" (click)="sortwithKey('title', 1)">
                                            <i class="fas" [ngClass]="icons[counter[1]]"></i>
                                        </button>
                                      
                                        <th style="width:200px">Trích yếu</th>
                                        <th style="width:100px">Loại văn bản</th>
                                        <button type="button" class="btn" (click)="sortwithKey('type', 2)">
                                            <i class="fas" [ngClass]="icons[counter[2]]"></i>
                                        </button> 
                                      
                                        <th style="width:100px">Ngày hiệu lực</th>
                                        <button type="button" class="btn" (click)="sortwithKey('effectivedate', 3)">
                                            <i class="fas" [ngClass]="icons[counter[3]]"></i>
                                        </button>  
                                      
                                        <th style="width:100px">Ngày hết hiệu lực</th>
                                        <button type="button" class="btn" (click)="sortwithKey('expirationdate', 4)">
                                            <i class="fas" [ngClass]="icons[counter[4]]"></i>
                                        </button>        
                 
                                        <th style="width:100px">Toàn văn</th>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-document>
                                    <tr>
                                        <td>
                                            <p-tableCheckbox [value]="document"></p-tableCheckbox>
                                        </td>
                                        <td>
                                            <div class="btn-group" dropdown placement="bottom left" container="body">
                                                <button
                                                    id="dropdownButton"
                                                    type="button"
                                                    class="btn btn-primary btn-sm dropdown-toggle"
                                                    dropdownToggle
                                                    aria-controls="dropdownMenu"
                                                >
                                                    <i class="fa fa-cog"></i>
                                                    <span class="caret"></span>
                                                    Hành động
                                                </button>
                                                <ul
                                                    id="dropdownMenu"
                                                    class="dropdown-menu"
                                                    role="menu"
                                                    *dropdownMenu
                                                    aria-labelledby="dropdownButton"
                                                >
                                                    <li
                                                        role="menuitem"
                                                    >
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                        >
                                                            Xóa
                                                        </a>
                                                    </li>
                                                    <li
                                                        role="menuitem"
                                                    >
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                        >
                                                            Chỉnh sửa
                                                        </a>
                                                    </li>
                                                    <li
                                                        role="menuitem"
                                                    >
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                        >
                                                            Xem
                                                        </a>
                                                    </li>
                                                    <li
                                                        role="menuitem"
                                                    >
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                        >
                                                            Tải xuống
                                                        </a>
                                                    </li>
                                                    <li
                                                        role="menuitem"
                                                    >
                                                        <a
                                                            href="javascript:;"
                                                            class="dropdown-item"
                                                        >
                                                            Thay thế văn bản cũ
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>
                                        <td>{{ document.code }}</td>
                                        <td>{{ document.title.length > 20 ? document.title.substring(0, 20) + '...' : document.title }}</td>
                                        <td>{{ document.citation }}</td>
                                        <td>{{ document.type }}</td>
                                        <td>{{ document.effectiveDate | date:'dd/MM/yyyy' }}</td>
                                        <td>{{ document.expirationDate | date:'dd/MM/yyyy' }}</td>
                                        <td>{{ document.fileName }}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>                      
                </div>
            </div>
        </div>
    </div>
</div>